:root {
    --color-blue: #1992D4;
    --color-black: #090909;
    --color-white: #fcfcfc;
    --color-light-grey: #E2E8F0;
    --color-yellow: #F0B429;
    --text-color: var(--color-black);
    --biggest-text-size: 24px;
    --big-text-size: 20px;
    --medium-text-size: 18px;
    --normal-text-size: 16px;
    --small-text-size: 12px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid blue; */
}

body {
    display: grid;
    grid-template-columns: min-content 4fr;
    min-height: 100vh;
}

.main {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.header {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 10px;
}

.search-and-user {
    display: grid;
    grid-template-columns: 3fr minmax(min-content, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.search-and-user .searchbar {
    display: grid;
    grid-template-columns: min-content 5fr;
    gap: 10px;
    align-items: center;
    justify-content: start;
    max-width: 450px;
}

.search-and-user .user {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: auto;
    gap: 25px;
    align-items: center;
    justify-content: center;
    justify-self: end;
    padding-right: 10px;
}

.search-and-user .user h3 {
    white-space: nowrap;
    width: auto;
}

.search-and-user .user>* {
    margin: 5px 0;
}

.title-and-action-buttons {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: min-content;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.title-and-action-buttons .title {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 1fr 5fr;
    padding: 10px;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
}


.title-and-action-buttons .title h2 {
    white-space: nowrap;
    width: auto;
    align-self: start;
}

.title-and-action-buttons .title p {
    white-space: nowrap;
    width: auto;
    align-self: end;
}


.title-and-action-buttons .title h2,
.title-and-action-buttons .title p {
    margin: 0;
}

.title-and-action-buttons .action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    align-items: center;
}

.action-buttons button {
    display: grid;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    width: 100px;
    place-content: center;
    font-weight: 700;
}

.content {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: repeat(2, min-content) 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.projects {
    display: grid;
    grid-template-rows: 30px 1fr;
    gap: 10px;
    grid-row: 1 / -1;
    margin: 0;
}

.projects .title {
    display: grid;
    align-items: center;
    justify-content: start;
}


.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    gap: 25px;
}

.projects .cards .card>* {
    margin: 0;
}

.projects .cards .card {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    gap: 5px;
}

.projects .cards .card .card-action-icons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    justify-content: end;
    gap: 30px;
    align-self: end;
    padding: 5px 20pxS;
}

.projects .cards .card .card-action-icons img {
    width: 20px;
    height: 20px;
}

.announcements {
    display: grid;
    gap: 10px;
    align-items: start;
    grid-auto-rows: min-content;
    align-self: start;
}

.announcements .title {
    display: grid;
    align-items: center;
    justify-content: start;
    height: 30px;
}

.announcements .cards {
    display: grid;
    padding: 5px;
    gap: 10px;
    grid-auto-rows: min-content;
}

.announcements .cards .card>* {
    margin: 0;
}

.announcements .cards .card {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 5px;
}

.trending {
    display: grid;
    gap: 10px;
    align-items: start;
    grid-auto-rows: min-content;
    align-self: start;
}

.trending .title {
    display: grid;
    align-items: center;
    justify-content: start;
    height: 30px;
}

.trending .cards {
    display: grid;
    gap: 20px;
    grid-auto-rows: min-content;
}

.trending .cards .card>* {
    margin: 0;
}

.trending .cards .card {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: min-content 3fr;
    row-gap: 5px;
    column-gap: 10px;
    align-items: center;
}

.trending-profile-img {
    grid-row: 1 / -1;
    width: 45px;
    height: 45px;
    align-self: center;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 40px;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 20px;
}

.sidebar .logo img {
    width: 50px;
    height: 50px;
}

.sidebar .navigation ul {
    list-style: none;
    display: grid;
    gap: 10px;
}

.sidebar .navigation ul li {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 20px;
}

.sidebar .navigation ul li img {
    width: 20px;
    height: 20px;
}

.sidebar .settings ul {
    list-style: none;
    display: grid;
    gap: 10px;
}

.sidebar .settings ul li {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 20px;
}

.sidebar .settings ul li img {
    width: 20px;
    height: 20px;
}


/* -------------------STYLING------------------- */

p {
    font-size: var(--normal-text-size);
    font-weight: 350;
}

.sidebar {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 900;
    padding: 15px 20px;
    z-index: 1;
}

.sidebar .logo h1 {
    font-weight: 900;
    font-size: 30px;
}

.sidebar {
    font-size: var(--medium-text-size);
}

.header {
    background-color: var(--color-white);
    color: var(--text-color);
    padding: 15px 20px 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}

.header .title h2 {
    font-weight: 900;
    font-size: var(--biggest-text-size);
}

.header .title p {
    font-weight: 700;
    font-size: var(--normal-text-size);
}

.header .user h3 {
    font-weight: 900;
    font-size: var(--big-text-size);
}

.header .title-and-action-buttons button {
    font-size: var(--normal-text-size);
}

.content {
    background-color: var(--color-light-grey);
    color: var(--text-color);
    padding: 30px 20px 15px 20px;
}

.content .title {
    font-weight: 900;
    font-size: var(--big-text-size);
}

#search-icon {
    width: 25px;
    height: 25px;
}

#search-input {
    background-color: var(--color-light-grey);
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
}

#search-input:focus {
    outline: none;
}

#search-input::placeholder {
    color: gray;
}

.projects .card {
    background-color: var(--color-white);
    color: var(--text-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 15px 10px 15px 30px !important;
    border-left: 10px solid var(--color-yellow);
}

.projects .card .card-title {
    font-weight: 900;
    font-size: var(--medium-text-size);
}

.card-action-icons {
    margin-top: 10px !important;
}

.announcements .cards {
    background-color: var(--color-white);
    color: var(--text-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 20px 30px !important;
}

.announcements .cards>*:not(:last-child) {
    border-bottom: 1px solid var(--color-black);
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.announcements .card-title {
    font-weight: 900;
    font-size: var(--small-text-size);
}

.announcements p {
    font-size: var(--small-text-size)
}

.trending .cards {
    background-color: var(--color-white);
    color: var(--text-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 15px !important;
}

.trending p {
    font-size: var(--small-text-size)
}

.trending .card .trending-username {
    font-weight: 900;
    align-self: end;
}

.trending .card .trending-user-actual-name {
    align-self: start;
}

#user-icon {
    width: 50px;
    height: 50px;
}

#notifications-icon {
    width: 25px;
    height: 25px;
}

#big-user-icon {
    grid-row: 1 / -1;
    height: 70px;
    width: 70px;

}